.signInButton {
  height: 2.5rem;
  border-radius: 3rem;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  color: rgb(17, 12, 12);
  font-weight: bold;
  transition: filter 0.2s;

  svg {
    width: 25px;
    height: 25px;
  }

  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  div {
    margin-right: 1rem;
  }

  &:hover {
    filter: brightness(0.9);
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg.closeIcon {
    margin-left: 1rem;
  }
}

.test {
  margin-right: 1rem;
}
